<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" style="margin-top: 5%">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-3" style="">
                <div style="width:80%;  height: 10em; background-color:#428bca">
                    <p style="text-align:center; padding-top: 30%; color: white">Kitchen</p>
                    <p style="padding-left:5%; position: absolute; bottom: 0"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></p>
                </div>
            </div>
            <div class="col-sm-3" style="">
                <div style="width:80%;  height: 10em; background-color:#428bca"><p style="text-align:center; padding-top: 30%; color: white">Ball Room</p></div>
            </div>
            <div class="col-sm-3" style="">
                <div style="width:80%; height: 10em; background-color:#428bca">
                    <p style="text-align:center; padding-top: 30%; color: white">Conservatory</p>
                    <p style="padding-left:5%; position: absolute; bottom: 0"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col-sm-3" style="">
                <div style="width:80%; height: 4em; background-color:#428bca"><p style="text-align:center; padding-top: 8%; color: white">Library</p></div>
                <div style="width:80%; height: 4em; background-color:#428bca; margin-top: 8%"><p style="text-align:center; padding-top: 8%; color: white">Billiard Room</p></div>
            </div>
            <div class="col-sm-3" style="">
                <div style="width:80%;  height: 10em; background-color:#428bca"><p style="text-align:center; padding-top: 30%; color: white">ClueLess</p></div>
            </div>
            <div class="col-sm-3" style="">
                <div style="width:80%;  height: 10em; background-color:#428bca"><p style="text-align:center; padding-top: 30%; color: white">Dining Room</p></div>

            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col-sm-3" style="">
                <div style="width:80%;  height: 10em; background-color:#428bca">
                    <p style="text-align:center; padding-top: 30%; color: white">Lounge</p>
                    <p style="padding-left:5%; position: absolute; bottom: 0"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></p>
                </div>
            </div>
            <div class="col-sm-3" style="">
                <div style="width:80%;  height: 10em; background-color:#428bca"><p style="text-align:center; padding-top: 30%; color: white">Hall</p></div>
            </div>
            <div class="col-sm-3" style="">
                <div style="width:80%; height: 10em; background-color:#428bca">
                    <p style="text-align:center; padding-top: 30%; color: white">Study</p>
                    <p style="padding-left:5%; position: absolute; bottom: 0"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="">
        <div class="form-group">
            <label for="Moves" style="text-align:center">Moves:</label>
            <textarea class="form-control" rows="10" id="comment"></textarea>
        </div>
        <div style="text-align:center;">
            <button type="button" class="btn btn-primary">Make Suggestion</button>
        </div>
        <div style="text-align:center; margin-top: 1em">
            <button type="button" class="btn btn-success">Make Accusation</button>
        </div>


    </div>

    <button style="margin-top:100px;" class="btn btn-lg" type="reset"><a href="~/Home/UserDashboard">Back</a></button>
</div>


