<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
@model ClueLess.Models.Account
<div class="container bootstrap snippet" style="margin-top: 5%">
    <div id="resetpassword" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
            </div>
            <div style="padding-top:30px" class="panel-body">
                <form id="resetform">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><label class="glyphicon glyphicon-user">Username</label></span>
                        <input type="text" name="username" id="username" tabindex="1" class="form-control" />
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><label class="glyphicon glyphicon-user">Old Password</label></span>
                        <input type="text" name="oldpassword" id="oldpassword" tabindex="1" class="form-control" />
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><label class="glyphicon glyphicon-user">New Password</label></span>
                        <input type="text" name="newpassword" id="newpassword" tabindex="1" class="form-control" />
                    </div>
                    <button type="submit" ; class="btn btn-lg btn-success" style="float:right; font-size: 80%; position: relative; top:-10px">Change Password</button>
                    <button style="margin-top:100px;" class="btn btn-lg" type="reset"><a href="~/Home/UserDashboard">Back</a></button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
                        $(document).ready(function () {
                            $("#resetform").submit(function (e) {
                                e.preventDefault();
                                $.ajax({
                                    type: "POST",
                                    data: $("#loginForm").serializeArray(),
                                    url: "@Url.Action("ResetPassword","UserController")" + "?" + $("#resetform").serialize(),
                                    async: false,
                                    success: function () {
                                        alert("Update Successful");
                                        location.href = "/Home/UserDashboard"
                                    },
                                    error: function () {
                                        alert("Wrong Username/Password");
                                    }
                                });
                            });
                        });
    </script>
}